.buttons {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-auto-rows: minmax(75px, auto);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  align-content: center;
  justify-content: space-between;
}

.btn {
  background-color: $light-color;
  cursor: pointer;
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  font-weight: 800;
}

.btn:first-child,
.btn:last-child {
  width: 100%;
  border-radius: 10px;
}

.btn:first-child {
  grid-column: 1/3;
}

.btn:last-child {
  grid-column: 3/5;
}

.btn.highlight {
  background-color: $highlight;
  color: #fff;
}
